{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}
{% if form.errors %}
  <div class="shadow-custom messages alert alert-danger 
    col-lg-5 mx-auto text-center">
    Не удалось обновить пароль.
    Убедитесь, что вы предоставили действительные учетные данные, и повторите попытку.
  </div>
{% endif %}

<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3">
  <h3 class="py-2 font-weight-bold text-grey text-center">
    Сброс пароля
  </h3>
  {% if validlink %}
    <p class="text-center">Введите новый пароль</p>
    <form method="post">
      {% csrf_token %}
      <div class="input-field">
        <label for="id_new_password1">Новый пароль</label>
        <input class="form-control" type="password" name="new_password1" 
        required=" id="id_new_password1">
      </div>
      <div class="input-field">
        <label for="id_new_password2">
          Подтвердите новый пароль
        </label>
        <input class="form-control" type="password" name="new_password2" 
        required=" id="id_new_password2">
      </div>
      <button class="btn btn-block btn-warning mb-3" type="submit">
        Подтвердить пароль
      </button>
    </form>
  {% else %}
    <p>
      Указанная ссылка недействительна.
      Запросите новый сброс пароля.
    </p>
  {% endif %}
</div>
{% endblock %}
